<div class="col-md-2">
	<h5>Site</h5>
	<div class="list-group">
		<a href="#" class="list-group-item">Home</a>
		<a href="#" class="list-group-item">Settings</a>
	</div>

	<h5>Models</h5>
	<div class="list-group">
		<% for(var i = 0; i < modelsMenu.length; i++) { %>
		<a class="list-group-item" href="/administrator/list?model=<%= modelsMenu[i] %>"><%= modelsMenu[i] %></a>
		<% } %>
	</div>
</div>