<!DOCTYPE html>
<html lang="en">
<head>
	<title>Administrator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<h1><%= title %></h1>
		</div>

		<div class="span10">
			<%- data %>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>