<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<% include partials/sidebar.ejs %>
		</div>
		<!--/span-->

		<div class="span9">

		</div>
		<!--/span-->
	</div>
	<!--/row-->

	<hr>

	<% include partials/footer.ejs %>
</div>
<!--/.fluid-container-->

<% include partials/scripts.ejs %>