<% include partials/header.ejs %>

<div class="form-box" id="login-box">
	<div class="header">Sign In</div>
	<form action="/login" method="post">
		<div class="body bg-gray">
			<div class="form-group">
				<input type="text" name="userid" class="form-control" placeholder="User ID"/>
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="Password"/>
			</div>
		</div>
		<div class="footer bg-gray">
			<button type="submit" class="btn bg-blue btn-block">Sign me in</button>
		</div>
	</form>
</div>

<% include partials/scripts.ejs %>
<% include partials/end.ejs %>